{{#if error}}
  <div class="container p-2 my-2">
    <div class="alert alert-danger alert-dismissible">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      <i class="fa-solid fa-triangle-exclamation"></i>
        {{mensaje}}
    </div>
  </div>
{{/if}}

<div class="container p-4 my-4 border">
    <h2 class="center">Administrador de Reservas</h2>
    <div class="row">
        <div class="col text-end">
            Hola <strong>{{usuario}}! </strong>
            <a class="btn btn-danger" href="/admin/login/logout" title="Cerrar sesión de usuario"> 
                <i class="fa-solid fa-arrow-right-from-bracket"></i> 
                Cerrar Sesión
            </a>
       </div>
    </div>
    <div class="row">
        <div class="col-2 align-items-end">
            <button type="button" class="btn btn-primary position-relative" title="Cantidad de reservas">
                Reservas
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        {{cantidad}}
                    </span>
                </button>
        </div>

        <div class="col-6">
            <h3>Listado de Reservas</h3>
        </div>
        {{#if btAgregar}}
        <div class="col-4">
            <a href="/admin/reservas/agregar" class="btn btn-success" title="Agregar reservas">
                <i class="fa fa-plus"></i> Agregar
            </a>
        
            <a href="/admin/reservas/listarPorCliente" class="btn btn-secondary" title="Listar reservas por cliente">
                <i class="fa-solid fa-table-list"></i> Listar p/Cliente
            </a>
        </div>
        {{/if}}
    </div>

    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Imagen</th>
                            <th scope="col">Estado</th>
                            <th scope="col" class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each reservas}}
                        <tr class="">
                            <th scope="row">{{id}}</th>
                            <td title="{{tituloCliente}}">{{id_cliente}} <i class="fa-solid fa-person-circle-exclamation"></i></td>
                            <td>{{nombrePromo}}</td>
                            <td>{{cantidad}}</td>
                            <td>{{{imagen}}}</td>
                            <td title="{{tituloEstado}}"><i class="fa-solid {{iconoEstado}}"></i></td>
                            <td class="text-center">
                                <a href="/admin/reservas/ver/{{id}}" class="btn btn-sm btn-primary" title="Ver reserva">
                                    <i class="fa-solid fa-magnifying-glass"></i></a>
                            
                                {{#if ../autEditar}}                                
                                <a href="/admin/reservas/editar/{{id}}" class="btn btn-sm btn-secondary" title="Editar reserva">
                                    <i class="fa fa-pencil"></i></a>
                                {{/if}}                        
                            
                                {{#if ../autEliminar}}                                
                                <a href="/admin/reservas/eliminar/{{id}}" class="btn btn-sm btn-secondary" title="Eliminar reserva">
                                    <i class="fa fa-trash"></i></a> 
                                {{/if}}
                                
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>