{{#if error}}
  <div class="container p-2 my-2">
    <div class="alert alert-danger alert-dismissible">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      <i class="fa-solid fa-triangle-exclamation"></i>
      {{mensaje}}
    </div>
  </div>
{{/if}}
{{#if info}}
    <div class="container p-2 my-2">
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <i class="fa-solid fa-triangle-exclamation"></i>
            {{mensajeInfo}}
        </div>
    </div>    
{{/if}}
<div class="container p-4 my-4 border">
  <h2 class="center">Administrador de Usuarios</h2>
    <div class="row">
      <div class="col text-end">
        <a class="btn btn-secondary" href="/admin/login" title="Volver al login"> 
          <i class="fa-solid fa-arrow-right-arrow-left"></i> 
          Volver
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-2 align-items-end">
        <button type="button" class="btn btn-primary position-relative" title="Cantidad de usuarios">
            Usuarios
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                {{cantidad}}
            </span>
        </button>
      </div>
      <div class="col-7">
        <h3>Modificar Contrase単a</h3>
      </div>
    </div>
    <div class="row border p-2">
      <form action="/admin/login/cambiar" method="post">
        <input type="hidden" name="estado" id="estado" value="1">
        
        <h4>Datos para Loguin</h4>
        <div class="form-group col-6 mb-4 mt-3">
          <input type="text" name="usuario" id="usuario" class="form-control" placeholder="Nombre de usuario">
        </div>
        <div class="form-group col-6 mb-4 mt-3">
          <input type="password" name="pass" id="pass" class="form-control" placeholder="Contrase単a actual">
        </div>
        <div class="form-group col-6 mb-4 mt-3">
          <input type="password" name="passNueva" id="passNueva" class="form-control" placeholder="Contrase単a nueva">
        </div>
        <div class="form-group col-6 mb-4 mt-3">
          <input type="password" name="passRep" id="passRep" class="form-control" placeholder="Repita la contrase単a">
        </div>
        <button type="submit" class="btn btn-primary {{estado}}"><i class="fa-solid fa-check"></i> Guardar</button>
        <button type="reset" class="btn btn-secondary {{estado}}"><i class="fa-solid fa-eraser"></i> Borrar</button>
      </form>
    </div>
</div>